/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.LoginGlass {
  position: fixed;
  top: 17vw;
  left: 35vw;
  width: 30vw;
  margin: 0 auto;
  padding: 0.5vw;
  line-height: 1.50vw;
  font-size: 1.25vw;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.3vw solid rgb(0, 0, 0);
  border-radius: 1.5vw;
}

.toggle-password {
  cursor: pointer;
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.BodyMain {
  height: 50%;
  background-image: url('Images/MainBG.png');
  background-size: 100%; 
  background-repeat: no-repeat;
}

.BodyNuevoFormulario {
  background-image: url('Images/MainBG2.webp');
  background-size: 100%; 
  background-repeat: no-repeat;
}

.FormGlass {
  position: fixed;
  top: 20vw;
  left: 30vw;
  width: 40vw;
  margin: 0 auto;
  padding: 0.5vw;
  line-height: 1.50vw;
  font-size: 1.25vw;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.3vw solid rgb(0, 0, 0);
  border-radius: 1.5vw;
}

.password-container input {
  flex-grow: 1; 
}

.toggle-password {
  position: absolute;
  right: 1vw;
  cursor: pointer;
  height: 2vw;
  width: 2vw;
}

/* Estilos de las previsualizaciones de imagen */
.Previsualizacion {
  display: block;
  width: 100%;
  object-fit: contain;
  max-height: 15vw;
  margin: 0 auto;
  overflow: hidden;
}

.preview1 {
  display: none;
  width: 220px;
  height: 220px;
  object-fit: fill;  
}

.preview2 {
  display: none;
  width: 100%;
  object-fit: fill;  
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.2vw solid rgb(200, 158, 58);
  border-radius: 1.5vw;
}

/* Estilos comunes para los botones*/
.CustomButton {
  width: 13vw;
  height: 5vw;
  position: fixed;
  background: transparent;
  background-color: transparent;
  border-radius: 1.5vw;
  display: inline-block;
  cursor: pointer;
  border: 0.3vw solid rgb(200, 158, 58);
  color: rgb(200, 158, 58);
  font-family: Arial;
  font-size: 1.25vw;
  font-weight: bold;
  text-align: center;
  transition: background-color 1s, border-color 1s, color 1s;
}
.CustomButton:hover {
  color: rgb(255, 255, 255);
  border: 0.3vw solid rgb(255, 255, 255);
  background-color: rgb(200, 158, 58);
}

.B_Encabezado {
  margin: 0.5vw 1vw;
  position: relative;
  width: 30vw;
  font-size: 2.5vw;
  background-image: url('Images/evento.png');
  background-size: 15%; 
  background-repeat: no-repeat;
  background-position: left center; 
}

.B_Personas {
  margin: 0.5vw 1vw;
  position: relative;
  width: 14vw;
  padding: 0% 5%;
  background-image: url('Images/Personas.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: left center; 
}

.B_Lugares {
  margin: 0.5vw 1vw;
  position: relative;
  width: 14vw;
  padding: 0% 5%;
  background-image: url('Images/Lugar.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: left center; 
}

.B_Vehiculos {
  margin: 0.5vw 1vw;
  position: relative;
  width: 14vw;
  padding: 0% 5%;
  background-image: url('Images/vehiculo.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: left center; 
}

.B_Armas {
  margin: 0.5vw 1vw;
  position: relative;
  width: 14vw;
  padding: 0% 5%;
  background-image: url('Images/armas.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: left center; 
}

.B_MensajesExtorsivos {
  margin: 0.5vw 1vw;
  position: relative;
  width: 14vw;
  padding: 0% 12%;
  background-image: url('Images/Extorsiones.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: left center; 
}

.B_Estupefacientes {
  margin: 0.5vw 1vw;
  position: relative;
  width: 14vw;
  padding: 0% 12%;
  background-image: url('Images/Estupefacientes.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: left center;
}

.Contenedor_Entidades {
  margin: 0;
  top: 18%;
  left: 35%;
  height: 80%;
  width: 50%;
  position: fixed;
  border-radius:0.5vw;
  border: 0.3vw solid rgb(200, 158, 58);
}

.Div_AgregarEntidad {
  margin: 0;
  top: 18%;
  left: 35%;
  height: 13%;
  width: 50%;
  position: fixed;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.BTN_AgregarEntidad {
  margin: 0.5vw 1vw;
  position: relative;
  width: 48vw;
  height: 6vw;
  padding: 0% 5%;
  font-size: 2.5vw;
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: right center; 
}

.DivEnumerarEntidades {
  margin: 0;
  top: 33%;
  left: 35%;
  height: 65%;
  width: 50%;
  position: fixed;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
}

.BTN_EnumerarEntidades {
  margin: 0.5vw 0.5vw;
  position: relative;
  font-size: 1.1vw;
  text-align: left;
  height: 12vw;
  width: 22vw;
  padding: 10% 5% 1% 1%;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: top center; 
}

.Personas {
  background-image: url('Images/Personas.png');
}

.Hombre {
  background-image: url('Images/Hombre.png');
}

.Mujer {
  background-image: url('Images/Mujer.png');
}

.OtroGenero {
  background-image: url('Images/PersonaOtroGenero.png');
}

.Lugar {
  background-image: url('Images/Lugar.png');
}

.ViaPublica {
  background-image: url('Images/LugarViaPublica.png');
}

.Plaza {
  background-image: url('Images/LugarPlaza.png');
}

.Ruta {
  background-image: url('Images/LugarRuta.png');
}

.Cochera {
  background-image: url('Images/LugarCochera.png');
}

.Descampado {
  background-image: url('Images/LugarDescampado.png');
}

.AsociacionCivil {
  background-image: url('Images/LugarAsociacionCivil.png');
}

.Comercio {
  background-image: url('Images/LugarComercio.png');
}

.DependenciaPublica {
  background-image: url('Images/LugarEdificioPublico.png');
}

.Industria {
  background-image: url('Images/LugarIndustria.png');
}

.Inmueble {
  background-image: url('Images/LugarInmueble.png');
}

.Institucion {
  background-image: url('Images/LugarInstitucionPublica.png');
}

.Arma {
  background-image: url('Images/Armas.png');
}

.Carabina {
  background-image: url('Images/ArmaCarabina.png');
}

.Escopeta {
  background-image: url('Images/ArmaEscopeta.png');
}

.Fusil {
  background-image: url('Images/ArmaFusil.png');
}

.Pistola {
  background-image: url('Images/ArmaPistola.png');
}

.Ametralladora {
  background-image: url('Images/ArmaAmetralladora.png');
}

.Pistolon {
  background-image: url('Images/ArmaPistolon.png');
}

.Revolver {
  background-image: url('Images/ArmaRevolver.png');
}

.Vehiculo {
  background-image: url('Images/vehiculo.png');
}

.Acoplado {
  background-image: url('Images/Acoplado.png');
}

.Automovil {
  background-image: url('Images/Automovil.png');
}

.Avioneta {
  background-image: url('Images/Avioneta.png');
}

.Bicicleta {
  background-image: url('Images/Bicicleta.png');
}

.Camion {
  background-image: url('Images/Camion.png');
}

.Camioneta {
  background-image: url('Images/Camioneta.png');
}

.Ciclomotor {
  background-image: url('Images/Ciclomotor.png');
}

.Cuatriciclo {
  background-image: url('Images/Cuatriciclo.png');
}

.Autobus {
  background-image: url('Images/Autobus.png');
}

.Lancha {
  background-image: url('Images/Lancha.png');
}

.Furgon {
  background-image: url('Images/Furgon.png');
}

.Motovehiculo {
  background-image: url('Images/Motovehiculo.png');
}

.MaquinaAgricola {
  background-image: url('Images/MaquinaAgricola.png');
}

.MaquinaConstruccion {
  background-image: url('Images/MaquinaConstruccion.png');
}

.Recolector {
  background-image: url('Images/Recolector.png');
}

.MotovehiculoAcuatico {
  background-image: url('Images/MotovehiculoAcuatico.png');
}

.Triciclo {
  background-image: url('Images/Triciclo.png');
}

.Tractor {
  background-image: url('Images/Tractor.png');
}

.Carro {
  background-image: url('Images/Carro.png');
}

.VehiculoOficial {
  background-image: url('Images/MovilOficial.png');
}

.Mensaje {
  background-image: url('Images/Extorsiones.png');
}

.NotaExtorsiva {
  background-image: url('Images/MensajeNotaExtorsiva.png');
}

.Llamada {
  background-image: url('Images/MensajeLlamadas.png');
}

.SMS {
  background-image: url('Images/MensajeSMS.png');
}

.RedesSociales {
  background-image: url('Images/MensajeRedesSociales.png');
}

.CorreoElectronico {
  background-image: url('Images/MensajeCorreoElectronico.png');
}

.MensajeriaInstantanea {
  background-image: url('Images/MensajesMensajeriaInstantanea.png');
}

.EntregaDirecta {
  background-image: url('Images/MensajeEntregaDirecta.png');
}

.MainTable {
  position: absolute;
  top: 75%;
  left: 0;
  height: 50%;
  border: 0.3vw solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  box-sizing: border-box;
  transform: translateY(-50%);
}

.SearchTable {
  position: fixed;
  top: 50%;
  left: 0;
  height: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.dataTables_filter {
  display: none;
}

/* Estilos para la tabla */
table {
  text-align: center;
  color: rgb(0, 0, 0);
  border-collapse: collapse;
  table-layout: fixed;
}

/* Estilos para las celdas de encabezado */
th {
  top: 0;
  height: 4vw;
  position: sticky;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight:bold;
  font-size:1.2vw;
}

/* Estilos para las celdas de datos */
td {
  font-weight:bold;
  font-size:1.1vw;
}

tr {
  height: 4vw;
  background-color: rgb(255, 255, 255);
}

table tr:hover {
	background: rgb(199, 204, 208)!important;
}

.ESTADO_BTN {
  background: transparent;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: Arial;
  font-size: 1.1vw;
  font-weight: bold;
  text-decoration: none;
}

.ESTADO_BTN .ON_HOVER {
  /* Estilos para el texto en estado hover */
  display: none; /* Ocultar el texto en estado normal */
}

.ESTADO_BTN:hover .NORMAL_TEXT {
  /* Estilos para el texto en estado normal durante el hover */
  display: none; /* Ocultar el texto en estado normal durante el hover */
}

.ESTADO_BTN:hover .ON_HOVER {
  /* Estilos para el texto en estado hover */
  display: inline; /* Mostrar el texto en hover */
}

.ABIERTO {
  color: rgb(0, 0, 255);
}

.ABIERTO:hover {
  color: rgb(255, 0, 0);
}

.CERRADO {
  color: rgb(255, 0, 0);
}

.CERRADO:hover {
  color: rgb(0, 0, 255);
}

.ContenedorAmpliaciones {
  top: 40%;
  left: 50%;
  height: 58%;
  width: 55%;
  border-radius:0.5vw;
  border: 0.3vw solid rgb(200, 158, 58);
  position: fixed;
  transform: translateX(-50%);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
}

/* Estilos comunes para los botones*/
.EnumerarAmpliaciones {
  width: 15vw;
  height: 10vw;
  padding: 5%;
  background:transparent;
  background-color:transparent;
  border-radius: 1vw;
  flex: 0 1 auto;
  cursor: pointer;
  border: 0.3vw solid rgb(200, 158, 58);
  color: rgb(200, 158, 58);
  font-family: Arial;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  transition: background-color 1s, border-color 1s, color 1s;
}
.EnumerarAmpliaciones:hover {
  color: rgb(255, 255, 255);
  border: 0.3vw solid rgb(255, 255, 255);
  background-color: rgb(200, 158, 58);
}

/* Estilos de botones SweetAlert */

.swal2-confirm.swal2-styled {
  height: 6vh;
  width: 9vw;
}

.swal2-styled.swal2-cancel {
  height: 6vh;
  width: 9vw;
}
