/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.Leaflet {
  top: 5vw;
  height: 42.4vw;
  border: 0.3vw solid rgb(200, 158, 58);
}

/* Estilo para el contenedor del icono personalizado */
.custom-div-icon {
  background-color: transparent; /* Color de fondo transparente para el contenedor */
  text-align: center; /* Alinear el contenido en el centro */
  border-radius: 50%; /* Hacer el contenedor circular (opcional) */
}

/* Estilo para el marcador interno del icono personalizado */
.custom-marker {
  width: 12px; /* Ancho del marcador interno (ajusta según sea necesario) */
  height: 12px; /* Altura del marcador interno (ajusta según sea necesario) */
  line-height: 30px; /* Alinear el texto verticalmente en el centro */
  color: white; /* Color del texto dentro del marcador (opcional) */
  border: 2px solid black; /* Borde opcional alrededor del marcador interno */
  border-radius: 50%; /* Hacer el marcador interno circular (opcional) */
}

/* Estilo para las etiquetas de los grupos de capas */
.leaflet-control-layers-group-name {
    font-weight: bold;
}

